################################################################################
# Flask Configuration
################################################################################
# `development` or `production`
FLASK_ENV=development
FLASK_SECRET_KEY=TODO_YOUR_SECRET_KEY_HERE_CHANGE_IN_PRODUCTION
API_PORT=5002

################################################################################
# Microsoft Entra Auth Configuration
################################################################################
UW_OIDC_CLIENT_SECRET=TODO_UPDATE_OIDC_CLIENT_SECRET
UW_OIDC_AUTHORITY=https://login.microsoftonline.com/f6b6dd5b-f02f-441a-99a0-162ac5060bd2
UW_OIDC_CLIENT_ID=7a06f8e2-d277-47a8-890f-ad65f56c0caa

################################################################################
# PostgreSQL Configuration
# Notes:
# DB_HOST=localhost # INCORRECT! Use service name instaed when using docker-compose
################################################################################
DB_USER=postgres
DB_PASS=postgres
DB_HOST=db
DB_PORT=5432
DB_NAME=ecmodb

################################################################################
# Public URLs
################################################################################
# FRONTEND_URL=http://localhost:8081
# API_URL=http://localhost:5002/api
FRONTEND_URL=http://localhost:${APP_PORT}
API_URL=http://localhost:${API_PORT}/api

## TODO: Delete the following variables - Don't think they are used at all
## Backup Configuration
#BACKUP_DIR=./backups
#BACKUP_RETENTION_DAYS=7
#
## Docker configuration
#COMPOSE_PROJECT_NAME=ecmo-api

# Docker compose api service
API_RESOURCE_CPU_LIMIT_SIZE=0.50
API_RESOURCE_MEMORY_LIMIT_MB=512
